.place__image{
  max-width: 460px;
}

@media screen and (max-width: 1024px){
  .place__image{
  	max-width: 440px;
  }
}

@media screen and (max-width: 768px){
  .place__image{
  	max-width: 340px;
  }
}

@media screen and (max-width: 700px){
  .place__image{
  	max-width: 320px;
  }
}

@media screen and (max-width: 620px){
  .place__image{
  	max-width: 100%;
  	margin-bottom: 32px;
  }
}