.cover__subtitle{
  max-width: 360px;
  text-align: center;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  font-weight: normal;
  margin: 0;
}

@media screen and (max-width: 620px){
  .cover__subtitle{
  	max-width: 288px;
  	font-size: 14px;
  	line-height: 1.14;
  }
}