.intro__text{
  width: 690px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  color: #ffffff;
  margin: 0 0 32px 0;
}

@media screen and (max-width: 976px){
  .intro__text{
    width: calc(100% - (24px + 24px));
  }
}

@media screen and (max-width: 425px){
  .intro__text{
    width: calc(100% - (16px + 16px));
  }
}