.intro{
  max-width: 984px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 1024px){
  .intro{
    max-width: 690px;
  }
}

@media screen and (max-width: 768px){
  .intro{
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px){
  .intro{
    width: calc(100% - 32px);
  }
}