.cover__overlay{
  width: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  background: rgba(42, 44, 47, .3);
}

.cover__overlay:hover{
  background: rgba(42, 44, 47, .8);
  -webkit-transition: background .3s ease-out;
  -o-transition: background .3s ease-out;
  transition: background .3s ease-out;
}